# compiled output
tmp/
ts-output/
.temp/
.rn_temp/
yarn-error.log
lib/
coverage/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json

# dependencies
node_modules/

# System Files
.DS_Store
Thumbs.db
builds
dist/

